﻿@using ReadingRSSFeedsWeb.ModelsView
@model IndexViewModel

@addTagHelper "*, ReadingRSSFeedsWeb"
@{
    Layout = null;
}

<table class="table">
    <tr>
        <th>
            <sort-header action="Index" up="@Model.SortViewModel.Up" current="@Model.SortViewModel.Current"
                         property="@Model.SortViewModel.FeedSort" feed-id="@(Model.FilterViewModel.SelectedFeed)">
                Источник
            </sort-header>
        </th>
        <th>
            Название новости
        </th>
        <th>
            Описание новости
        </th>
        <th>
            <sort-header action="Index" up="@Model.SortViewModel.Up" current="@Model.SortViewModel.Current"
                         property="@Model.SortViewModel.PublishDateSort" feed-id="@(Model.FilterViewModel.SelectedFeed)">
                Дата публикации
            </sort-header>

        </th>
    </tr>
    @foreach (var fi in Model.FeedItems)
    {
        <tr>
            <td>@fi.Feed.Host</td>
            <td><a href="@(fi.Link)" target="_blank">@fi.Title</a></td>
            <td>@Html.Raw(fi.Description)</td>
            <td>@(String.Format("{0:dd/MM/yyyy HH:mm}", fi.PublishingDate))</td>
        </tr>
    }
</table>

<page-link page-model="Model.PageViewModel"
           page-action="Index"
           page-url-feed="@(Model.FilterViewModel.SelectedFeed)"
           page-url-sortOrder="@(Model.SortViewModel.Current)"></page-link>











<script>
    /* =================================================== */
    /*                       События                       */
    /* =================================================== */
    /* Событие на загрузку страницы */
    $(document).ready(function () {
        $('a.partial').on('click', function () {

            let aUrl = $(this).attr("href");

            // Получить данные для содержимого таблицы и данные пагинации
            $.ajax({
                url: aUrl,
                method: 'get',
                dataType: 'html',
                async: false,
                success: function (partialContent) {
                    // Очистить данные таблицы и панели пагинации
                    $('div.partial-table-pagination').empty();

                    // Добавить данные таблицы и панели пагинации
                    $('div.partial-table-pagination').append(partialContent);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus + "\n" + errorThrown + "\n" + jqXHR.responseText);
                }
            });


            // Отменить переход стандартный переход по ссылке <a>
            return false;
        });

    });
</script>